@scrollbar-width: 0.8rem;
@scrollbarThumbColor: #bdbdbd;
@scrollbarThumbHoverColor: #adadad;
@scrollbarHoverBg: rgba(116, 116, 116, 0.05);
@darkScrollbarThumbColor: #777777;
@darkScrollbarHoverBg: rgba(255, 255, 255, 0.1);
@darkScrollbarThumbHoverColor: #ababab;
.scrollbar {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: @scrollbar-width;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .scrollbar-thumb {
    position: absolute;
    right: 0;
    width: @scrollbar-width;
    -webkit-tap-highlight-color: transparent;
    background-color: @scrollbarThumbColor;
  }
  &:hover {
    background-color: @scrollbarHoverBg;
    .scrollbar-thumb {
      background-color: @scrollbarThumbHoverColor;
    }
  }

  &.dark-theme {
    .scrollbar-thumb {
      background-color: @darkScrollbarThumbColor;
    }
    &:hover {
      background-color: @darkScrollbarHoverBg;
      .scrollbar-thumb {
        background-color: @darkScrollbarThumbHoverColor;
      }
    }
  }
}
