<div class="demo-container">
    <div class="ui six doubling cards">
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/elliot.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/helen.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/jenny.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/veronika.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/stevie.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <ui-responsive-image src="https://semantic-ui.com/images/avatar/large/steve.jpg" [size]="{
                    width: '100%',
                    height: 'auto',
                    ratio: 1,
                    originalWidth: 650,
                    originalHeight: 650
                }" ></ui-responsive-image>
            </div>
        </div>
    </div>
</div>
